.pulse {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid #03a9f4;
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  animation: pulse-animate 1s linear;
}

@keyframes pulse-animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
